// Event management page
.event-actions {
  .btn-secondary {
    display: inline;
    background-color: var(--main-color) !important;
    color: var(--light-color);
    border-color: var(--black-color) !important;
    margin: 0.3vh;
    &:hover {
      background-color: var(--darkgray-color) !important;
    }
  }
}

.cancel-delete-btn {
  .btn {
    &:hover,
    &:focus {
      background-color: var(--red-color) !important;
    }
  }
}

// Create event page
.editor-page {
  .btn-secondary {
    background-color: var(--main-color) !important;
    color: var(--black-color) !important;
    &:disabled {
      background: var(--main-color) !important;
    }
    &:hover {
      box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
      &:disabled {
        background-color: rgba($color: #404040, $alpha: 0.3) !important;
      }
    }
  }
  .btn-primary {
    background-color: var(--main-color) !important;
    color: var(--light-color) !important;
    border-color: var(--black-color) !important;
    &:hover {
      background-color: var(--darkgray-color) !important;
    }
    &:hover &:focus &:disabled {
      color: var(--black-color) !important;
    }
  }
}

.buttons-group {
  .btn-secondary {
    display: inline;
    background-color: var(--main-color) !important;
    color: var(--light-color);
    border-color: var(--black-color) !important;
    &:hover {
      box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
      &:disabled {
        background-color: rgba($color: #404040, $alpha: 0.3) !important;
      }
    }
  }
}

// Calendar Button
.custom-date-input__button {
  color: var(--light-color) !important;
  background-color: var(--main-color) !important;
}

// Copy buttons
.clipboard-copy-button {
  padding: 3px;
  border-radius: 0px;
  margin-right: -25px;
  border-style: 1px solid !important;
  box-shadow: none !important;
  top: 43px !important;
}

// Search page
.search-bar {
  .btn-secondary {
    &:hover {
      background-color: var(--darkgray-color) !important;
    }
  }
  .event-input {
    .btn-primary {
      background-color: var(--main-color) !important;
      margin-left: 18px;
      height: 55px;
      color: var(--light-color);
      font-size: 1em;
      &:focus {
        box-shadow: none !important;
      }
      &:hover {
        background-color: var(--darkgray-color) !important;
      }
      &:disabled {
        background-color: var(--black-color) !important;
        color: var(--light-color) !important;
        &:hover {
          background-color: var(--darkgray-color) !important;
        }
      }
    }
  }
}
