// Event management page
.event-actions {
  .btn-secondary {
    display: inline;
    background-color: var(--main-color) !important;
    color: var(--black-color);
    border-color: var(--black-color) !important;
    margin: 0.3vh;
    &:hover {
      background-color: var(--light-color) !important;
    }
  }
}

.cancel-delete-btn {
  .btn {
    &:hover,
    &:focus {
      background-color: var(--danger-color) !important;
    }
  }
}

// Create event page
.buttons-group {
  .btn-secondary {
    display: inline;
    background-color: var(--main-color) !important;
    color: var(--black-color);
    border-color: var(--black-color) !important;
    margin: 0.3vh;
    &:hover {
      background-color: var(--light-color) !important;
    }
  }
}

// Calendar Button
.custom-date-input__button {
  color: var(--black-color) !important;
  background-color: var(--main-color) !important;
}

// Copy buttons
.clipboard-copy-button {
  padding: 3px;
  border-radius: 0px;
  margin-right: -25px;
  border-style: 1px solid !important;
  box-shadow: none !important;
  top: 40px !important;
}

// Search page
.search-bar--input {
  .btn {
    background-color: var(--main-color) !important;
    margin-left: 18px;
    height: 55px;
    border-radius: 2px;
    color: var(--black-color);
    border-color: var(--black-color) !important;
    border: 1px solid !important;
    font-size: 18px;
  }
}
