// Editor Page SCSS
.editor-page {
    .highlighted-block {
        //background-color: var(--secondary-color) !important;
        //border: 1px solid !important;
        color: var(--black-color) !important;
        max-width: auto !important;
        line-height: inherit !important;
        .language-selection {
            font-size: 1.125em !important;
        }
        label {
            font-size: 1em !important;
            &:first-child {
                font-size: 1.5em !important;
            }
        }
    }
    .row {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }
    // Tip Styles
    .tip {
        background: var(--light-color) !important;
        border: 2px solid var(--main-color) !important;
        color: var(--dark-color) !important;
        span {
            color: var(--black-color) !important;
        }
    }
    .checkbox-group {
        background-color: var(--light-color) !important;
        //border: 1px solid !important;
        margin-top: 5px !important;
        margin-bottom: 30px !important;
        h2 {
            font-size: 1.5em !important;
        }
        legend {
            font-size: 1em !important;
            font-family: inherit !important;
        }
    }
    // Input Field Styles
    .event-input {
        label {
            font-size: 1.2em !important;
        }
        input {
            border-bottom: solid 2px !important;
            &:hover {
                border-bottom: solid 3px !important;
                border-color: var(--main-color) !important;
            }
            &:focus,
            &:active {
                border-bottom: solid 3px !important;
                border-color: var(--main-color) !important;
            }
        }
        textarea {
            border: none !important;
            outline: solid 2px !important;
            &:hover {
                outline: solid 3px !important;
                outline-color: var(--main-color) !important;
            }
            &:focus,
            &:active {
                outline: solid 3px !important;
                outline-color: var(--main-color) !important;
            }
        }
    }
    .form-control {
        &:focus {
            box-shadow: none !important;
        }
    }
    .badge-primary {
        background-color: var(--main-color) !important;
        color: var(--light-color) !important;
        .btn {
            &:hover {
                background-color: var(--gray-color) !important;
            }
        }
    }
    .offers {
        margin: 0 0 1.8vh 0;
    }
}

// Formfields
.file-upload-buttons {
    .btn-block {
        background-color: var(--main-color) !important;
        color: var(--light-color) !important;
        &:disabled {
          background: var(--main-color) !important;
        }
        &:hover {
          box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
          &:disabled {
            background-color: rgba($color: #404040, $alpha: 0.3) !important;
          }
        }
        &.btn-primary {
            border-color: #6c757d !important;
            &:active, &:focus {
                box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
            }
        }
    }
}

// React-Select Style Injection
.css-yk16xz-control, .css-qg19kw-control {
    border-color: var(--black-color) !important;
}
.css-1pahdxg-control, .css-1bs8een-control {
    border: none !important;
    box-shadow: 0 0 0 2px var(--main-color) !important;
}

.location-row {
    .clipboard-copy-button {
        display: none !important;
    }
}

// Calendar Input Field Hover Effect
.custom-date-input {
    input {
        &:hover,
        &:focus,
        &:active {
            border-color: var(--main-color) !important;
        }
    }
}

// Calendar Date Select
.react-datepicker__day--selected {
    color: var(--light-color) !important;
    background-color: var(--main-color) !important;
}
.react-datepicker__day--keyboard-selected {
    color: var(--light-color) !important;
    background-color: var(--main-color) !important;
}

// Search-bar
.search-bar {
    .event-input {
        input {
            outline: none !important;
            border-bottom: solid 2px !important;
            &:hover {
                border-bottom: solid 3px !important;
                border-color: var(--main-color) !important;
            }
            &:focus,
            &:active {
                border-bottom: solid 3px !important;
                border-color: var(--main-color) !important;
            }
        }
    }
}

// Image Preview
.image-picker {
    &--preview {
        color: var(--light-color) !important;
        background-color: var(--main-color) !important;
        border: 1px solid !important;
        border-color: var(--black-color) !important;
        border-radius: 0 !important;
    }
}

// ImageThumbnail
.image-thumb {
    &.selected {
        border: 4px solid var(--black-color) !important;
    }
    .thumbnail {
        background-color: var(--main-color) !important;
        &:focus,
        &:hover {
            border: 4px solid var(--main-color) !important;
        }
    }
    .name {
        .name-buttons {
            .btn {
                &:hover,
                &:focus {
                    background-color: var(--darkgray-color) !important;
                }
            }
        }
    }
}

.no-image-text {
    font-size: 1.25em !important;
}

// ImageEdit
.image-edit-dialog {
    .modal-header {
        background-color: var(--black-color) !important;
        .modal-title {
            font-weight: bold !important;
            color: var(--light-color) !important;
        }
        button {
            .glyphicon {
                color: var(--light-color) !important;
            }
        }
    }
    .tip {
        background: var(--light-color) !important;
        border: 2px solid var(--main-color) !important;
        color: var(--black-color) !important;
        p {
            color: var(--black-color) !important;
        }
        a {
            color: var(--black-color) !important;
            text-decoration: underline !important;
        }
    }
}

// ConfirmationModal
.ConfirmationModal {
    .modal-header {
        background-color: var(--black-color) !important;
        .modal-title {
            font-weight: bold !important;
            color: var(--light-color) !important;
        }
        button {
            .glyphicon {
                color: var(--light-color) !important;
            }
        }
    }
    .modal-footer {
        button {
            background-color: var(--main-color) !important;
            font-size: 1em !important;
            color: var(--black-color) !important;
        }
    }
}

// Helselect field
.editor-page .hel-select legend {
    font-size: 1.25em !important;
}
.place-id {
    display: none;
    margin-top: 20px !important;
    input {
        border: none !important;
    }
}

// Report Modal
.debugreporterform {
    .modal-header {
        background-color: var(--black-color) !important;
        align-items: center !important;
        .modal-title {
            font-weight: bold !important;
            color: var(--light-color) !important;
        }
    }
    .glyphicon {
        color: var(--light-color) !important;
    }
    .modal-body {
        .form-control {
            &:focus {
                box-shadow: none !important;
            }
        }
        textarea {
            border: none !important;
            outline: solid 2px !important;
            &:hover {
                outline: solid 3px !important;
                outline-color: var(--main-color) !important;
            }
            &:focus,
            &:active {
                outline: solid 3px !important;
                outline-color: var(--main-color) !important;
            }
        }
        .btn {
            background-color: var(--main-color) !important;
            color: var(--black-color) !important;
            &:disabled {
              background: var(--main-color) !important;
            }
            &:hover {
                box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
                &:disabled {
                    background-color: rgba($color: #404040, $alpha: 0.3) !important;
                }
            }
        }
    }
}

// Modal Header & Body
.modal-header {
    background-color: var(--black-color) !important;
    .modal-title {
        font-weight: bold !important;
        color: var(--light-color) !important;
    }
    button {
        .glyphicon {
            color: var(--light-color) !important;
        }
    }
}
.modal-body {
    .event-input {
        label {
            font-size: 1.2em !important;
        }
        input {
            border-bottom: solid 2px !important;
            &:hover {
                border-bottom: solid 3px !important;
                border-color: var(--main-color);
            }
            &:focus,
            &:active {
                border-bottom: solid 3px !important;
                border-color: var(--main-color) !important;
            }
        }
    }
    .btn-primary {
        background-color: var(--main-color) !important;
        color: var(--light-color) !important;
        border-color: var(--darkgray-color) !important;
        &:active, &:focus {
            box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
        }
        &:disabled {
          background: var(--main-color) !important;
        }
        &:hover {
          box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
          &:disabled {
            background-color: rgba($color: #404040, $alpha: 0.3) !important;
          }
        }
      }
    .row-color {
        background: var(--light-color) !important;
        //border: 1px solid var(--main-color) !important;
    }
}

//Imagepicker modal
.image-picker--dialog {
    .modal-header {
        background-color: var(--black-color) !important;
        .glyphicon {
            color: var(--light-color) !important;
        }
        .modal-title {
            color: var(--light-color) !important;
            font-weight: bold !important;
        }
    }
    .modal-body {
        .modal-header {
            background-color: var(--light-color) !important;
            .modal-title {
                color: var(--black-color) !important;
                font-weight: normal !important;
            }
        }
    }
}

// Multifield Titles
.multi-field {
    .indented {
        border-left: 5px solid #d8f0ee !important;
        & > label {
            color: var(--black-color) !important;
            font-size: 1.4em !important;
            font-weight: 600;
        }
    }
}

// Mobile Styles
@media (max-width: 760px) {
    .keyword-row {
        .clipboard-copy-button {
            display: none !important;
        }
    }
}
