//Editor Page SCSS
.editor-page {
  .highlighted-block {
    background-color: var(--main-color) !important;
    border: 1px solid !important;
    color: var(--black-color) !important;
    max-width: auto !important;
    line-height: inherit !important;
    .language-selection {
      font-size: 1.125em !important;
    }
    label {
      font-size: 1em !important;
      &:last-child {
        font-size: 1.5em !important;
      }
    }
  }
  .row {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .tip {
    background: var(--main-color) !important;
    border: 1px solid !important;
    color: var(--black-color) !important;
    p {
      color: var(--black-color) !important;
    }
  }
  .checkbox-group {
    background-color: var(--main-color) !important;
    border: 1px solid !important;
    margin-top: 5px !important;
    margin-bottom: 30px !important;
    h2 {
      font-size: 1.5em !important;
    }
    legend {
      font-size: 1em !important;
      font-family: inherit !important;
    }
  }
  .event-heading, h2 {
    font-size: 1.5em !important;
    margin-bottom: 0 !important;
  }
  .event-input {
    label {
      font-size: 1.2em !important;
    }
    input {
      border: solid 2px;
      border-radius: 3px;
      &:hover {
        border: solid 3px;
        border-color: var(--main-color);
      }
      &:focus,
      &:active {
        border: solid 4px;
        border-color: var(--main-color);
      }
    }
    textarea {
      &:hover {
        border: solid 3px;
        border-color: var(--main-color);
      }
      &:focus,
      &:active {
        border: solid 4px;
        border-color: var(--main-color);
      }
    }
  }
  .editor-action-buttons {
    padding-top: 0 !important;
  }
}

// Calendar Input
.custom-date-input {
  input {
    &:hover,
    &:focus,
    &:active {
      border-color: var(--main-color) !important;
    }
  }
}

// Calendar Date Select
.react-datepicker__day--selected {
  color: var(--black-color) !important;
  background-color: var(--main-color) !important;
}
.react-datepicker__day--keyboard-selected {
  color: var(--black-color) !important;
  background-color: var(--main-color) !important;
}

.search-bar {
  .event-input {
    input {
      border: solid 2px;
      border-radius: 3px;
      &:hover {
        border: solid 3px;
        border-color: var(--main-color) !important;
      }
      &:focus,
      &:active {
        border: solid 4px;
        border-color: var(--main-color) !important;
      }
    }
  }
}

// ImagePicker/ File-upload buttons
.image-picker {
  .glyphicon {
    color: var(--dark-color) !important;
    font-size: 400% !important;
    margin-bottom: 2vh;
  }
  &--preview {
    color: var(--black-color) !important;
    background-color: var(--main-color) !important;
    border: 1px solid !important;
    border-color: var(--black-color) !important;
    border-radius: 0 !important;
  }
}

.file-upload--external {
  .btn-primary {
    background-color: var(--main-color) !important;
    border-radius: 2px;
    font-size: 1em !important;
    color: var(--black-color);
    border-color: var(--black-color) !important;
    margin-top: 0px !important;
  }
}
.button-row {
  .btn-primary,
  .btn-secondary,
  .delete {
    background-color: var(--main-color) !important;
    border-radius: 2px;
    font-size: 1em !important;
    color: var(--black-color);
    border-color: var(--black-color) !important;
    margin-top: 0px !important;
  }
}

.file-upload--new {
  .btn-secondary {
    background-color: var(--main-color) !important;
    font-size: 1em !important;
    color: var(--black-color);
  }
}

// ImageThumbnail
.image-thumb.selected {
  border: 4px solid var(--black-color) !important;
}
.thumbnail {
  background-color: var(--main-color) !important;
}
.no-image-text {
  font-size: 1.25em !important;
}
// ImageEdit
.image-edit-dialog {
  .modal-header {
    background-color: var(--black-color) !important;
    .modal-title {
      font-weight: bold !important;
      color: var(--light-color)!important;
    }
    button {
      .glyphicon {
          color: var(--light-color) !important;
      }
    }
  }
}
//ConfirmationModal app.js
.ConfirmationModal {
  .modal-header {
    background-color: var(--black-color) !important;
    .modal-title {
      font-weight: bold !important;
      color: var(--light-color)!important;
    }
    button {
      .glyphicon {
          color: var(--light-color) !important;
      }
    }
  }
  .modal-footer {
    button {
      background-color: var(--main-color) !important;
      font-size: 1em !important;
      color: var(--black-color);
    }
  }
}
// Formfields
.btn-block {
  color: var(--black-color) !important;
  background-color: var(--main-color) !important;
  margin-top: 20px !important;
  font-size: 1em !important;
  border-color: var(--black-color) !important;
  border: 1px solid !important;
}
.glyphicon {
  margin-right: 20px;
}
@media (max-width:760px) {
.location-row {
  .clipboard-copy-button {
    display: none !important;
  }
}
.keyword-row {
  .clipboard-copy-button {
    display: none !important;
  }
}
}
// Helselect field
.editor-page .hel-select legend,
.editor-page .hel-select .legend {
  font-size: 1.25em !important;
}
.place-id {
  margin-top: 20px !important;
  input {
    border: none !important;
  }
}

// Recurring Event
.recurringEvent {
  .modal-header {
    background-color: var(--black-color) !important;
    .modal-title {
      font-weight: bold !important;
      color: var(--light-color)!important;
    }
    button {
      .glyphicon {
        color: var(--light-color) !important;
      }
    }
  }
  .modal-body {
    .row-color {
      background: var(--main-color) !important;
      border: 1px solid var(--black-color) !important;
    }
    .col-sm-12 {
      h2 {
        color: var(--black-color);
      }
      button {
        background-color:var(--black-color) !important;
        color: var(--light-color);
        border: none;
      }
    }
  }
}

.image-picker--dialog {
  .modalH1 {
    background-color: var(--black-color)!important;
    .modal-title {
      color: var(--light-color) !important;
      font-weight: bold;
    }
    .glyphicon {
      color: var(--light-color)!important;
    }
  }
}
//Preview Modal to check how event would look like while creating / editing
.previewModal {
  .modal-header {
    background-color: var(--black-color)!important;
      .modal-title {
        color: var(--light-color) !important;
      }
      .glyphicon {
        margin: 0px;
        color: var(--light-color)!important;
      }
    }
    .modal-footer {
      .btn-secondary {
      background-color: var(--main-color) !important;
      font-size: 1em !important;
      color: var(--black-color);
    }
  }
}

// Multifield titles
.multi-field {
  position: relative;
  margin-top: 2rem;

  .indented {
      padding: 3px 23px 11.5px 23px;
      border-left: 5px solid #d8f0ee !important;

      & > label {
          color: var(--black-color) !important;
          font-size: 1.4em !important;
          font-weight: 600;
      }
  }
}