.main-footer {
    background-color: var(--main-color) !important;
    .footer-logo {
        background-image: url('./images/linkedeventswhite.png') !important;
        height: 95px !important;
        width: 113px !important;
    }
}
