// Main navbar
.main-navbar .bar {
    background: var(--main-color) !important;
    height: 100px !important;
    &__logo {
        background-image: url('./images/linkedeventswhite.png') !important;
        height: 80% !important;
    }
    .btn {
        &:focus,
        &:active {
            background-color: var(--light-color) !important;
            color: var(--black-color) !important;
            .glyphicon {
                color: var(--black-color) !important;
            }
        }
        &:hover {
            background-color: var(--light-color) !important;
            color: var(--black-color) !important;
            .glyphicon {
                color: var(--black-color) !important;
            }
        }
    }
}

.linked-events-bar {
    background-color: var(--light-color) !important;
    border-bottom: var(--black-color) 2px solid !important;
    &__links {
        .nav-item {
            .nav-link {
                &:focus,
                &.active {
					box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
                    background-color: var(--light-color) !important;
					color: var(--black-color) !important;
					outline-color: var(--darkgray-color) !important;
                }
                &:hover {
                    background-color: rgba($color: #fff, $alpha: 0.5) !important;
					color: var(--black-color) !important;
                }
            }
            .moderator {
                span {
                    color: var(--black-color) !important;
                }
            }
        }
    }
}
