.main-navbar .bar {
  background: var(--black-color) !important;
  height: 100px !important;
}

.navbar {
  .btn:focus {
    color: var(--light-color);
    outline: solid 2px !important;
    outline-color: var(--light-color) !important;
    border: none !important;
    box-shadow: none !important;
  }
  .btn:active {
    outline: solid 2px !important;
    outline-color: var(--light-color) !important;
    border: none !important;
    box-shadow: none !important;
  }
  .btn:hover {
    outline: solid 2px !important;
    outline-color: var(--light-color) !important;
    background-color:  var(--light-color) !important ;
    color: var(--black-color) !important;
    cursor: pointer;
    border-radius: 0px;
    .glyphicon {
      color: var(--black-color) !important;
    }
  }
}

.main-navbar .linked-events-bar__links__list .btn{
  margin-right: 2rem;
}



.linked-events-bar {
  border-bottom: 1px solid !important;
  color: var(--black-color);
  .btn:focus {
    outline-color: var(--black-color) !important;
    border: none !important;
    box-shadow: none !important;
  }
  .btn:hover{
    outline-color: var(--black-color) !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.navbar-brand {
  color: var(--black-color) !important;
}

.main-navbar .linked-events-bar__links__create-events {
  color: var(--black-color) !important;
  border: none !important;
}

.main-navbar .linked-events-bar__logo span {
  color: var(--black-color) !important;
  padding-left: 4.5rem;
  padding-right: 0px !important;
  font-size: 16px !important;
}
