:root {
    --main-color: #7dcdc8;
    --secondary-color: #00b380;
    --black-color: #000000;
    --dark-color: #383d43;
    --gray-color: #c3c4b7;
    --light-color: #ffffff;
    --danger-color: #FF6666;
    --darkdanger-color: #ff3d3d;
    --success-color: #00a97a;
    --info-color: #009ddb;
    --secondinfo-color: #ffc233;
    --link-color: #3fa29b;
    --tertiary-color: #215fb1;
}
