:root {
    --main-color: #0062ae;
    --secondary-color: #7dcdc8;
    --black-color: #000000;
    --darkgray-color: #404040;
    --gray-color: #dbe0e7;
    --light-color: #ffffff;
    --red-color: #e4032e;
    --danger-color: #ff3d3d;
    --success-color: #00a97a;
    --info-color: #009ddb;
    --secondinfo-color: #ffc233;
    --link-color: #3fa29b;
    --tertiary-color: #215fb1;
    --tip-color: #c7d7eb;
}
