:root {
    --main-color: #7dcdc8;
    --secondary-color: #00b380;
    --black-color: #000000;
    --dark-color: #383D43;
    --gray-color: #abb2bd;
    --lightgray-color: #f7f7f7;
    --light-color: #ffffff;
    --danger-color: #FF6666;
    --darkdanger-color: #FF3D3D;
    --success-color: #28a745;
    --info-color: #00aeef;
    --secondinfo-color: #ffc233;
    --link-color: #7dcdc8;
    --tertiary-color: #006bb6;
}
