  
@import "colors";

@import "sass/header";
@import "sass/forms";

html, body {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--lightgray-color) !important;
    color: var(--dark-color) !important;
    font: normal normal normal 18px/1.2 "Open Sans", "Arial", "Segoe UI", sans-serif !important;
}
