@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

@import 'colors';
@import 'sass/header';
@import 'sass/buttons';
@import 'sass/editor';
@import 'sass/footer';


html, body {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--light-color) !important;
    color: var(--black-color) !important;
    font: normal normal normal 1em/1.2 'Open Sans', 'Arial', 'Segoe UI', sans-serif !important;
}

.content {
    padding-bottom: 0 !important;
}

h1, h2, h3, p, legend {
    font-family: 'Open Sans', 'Arial', 'Segoe UI', sans-serif !important;
}

h1 {
    color: var(--black-color);
    font-size: 2em !important;
}

h2 {
    font-size: 1.7em !important;
}

h3 {
    font-size: 1.5em !important;
}

legend {
    font-size: 1.7em !important;
}

p {
    font-size: 1em !important;
}

h2, h3, h4, h5, h6, legend {
    margin-block-start: 0.5em !important;
    color: var(--black-color);
}

.red-alert {
    color: var(--danger-color) !important;
}

.validation-popper {
    background-color: var(--darkgray-color) !important;
    box-shadow: 0px 6px 20px -10px rgba(0,0,0,0.75);
    &:before {
        border-color: transparent var(--darkgray-color) transparent transparent !important;
    }
}

@media (max-width: 480px) {
    .modal-content {
        .image-picker--dialog-title {
            .modal-title {
                padding: 1em 0 1em 0 !important;
                margin: auto;
            }
        }
        h1 {
            padding-bottom: 0 !important;
        }
        h2 {
            padding-top: 0.8em !important;
            padding-bottom: 0 !important;
        }
    }
    .organization-missing-msg {
        h1 {
            margin-top: 0rem !important;
        }
    }
}
